@import '../../Notations/mixins';
@import '../../Notations/breakpoints';
@import '../../Notations/colors';
@import '../../Notations/fonts';
@import '../../Notations/spaces';

%titles {
  font-family: $mulish;
  margin: 0;
  @include selectStyleByTheme('color', 'titleColor');
}

h1 {
  padding: $space-4 + $space-3 0;
  font-size: $fs-14;
  font-weight: $fw-bold;
  @extend %titles;
}

h2 {
  padding: $space-4 0;
  font-size: $fs-7;
  text-transform: uppercase;
  font-weight: $fw-extraBold;
  @extend %titles;
}

h3 {
  padding: $space-3+$space-2 0;
  font-size: $fs-6;
  font-weight: $fw-extraBold;
  @extend %titles;
}

h4 {
  padding: $space-3 0;
  font-size: $fs-4;
  font-weight: $fw-extraBold;
  @extend %titles;
}

h5 {
  font-size: $fs-2;
  font-weight: $fw-extraBold;
  @extend %titles;
}

h6 {
  font-size: $fs-1;
  font-weight: $fw-extraBold;
  @extend %titles;
}

// Specific classes

.title-section {
  margin-bottom: $space-3+$space-2;
  border-bottom: 1px solid;
  @include selectStyleByTheme('border-bottom-color', 'dividerColor');
  padding-bottom: $space-3+$space-2;
  text-align: center;
  @include selectStyleByTheme('color', 'titleColor');
}

.subtitle {
  margin-bottom: $space-3+$space-2;
  border-bottom: 1px solid;
  @include selectStyleByTheme('border-bottom-color', 'dividerColor');
  padding-top: 0;
  padding-bottom: $space-2;
  font-size: $fs-6;
  text-align: left;
  @include breakPoint(small) {
      padding-bottom: $space-3+$space-2;
      font-size: $fs-7;
  }
}
