@import '../../Notations/functions';
@import '../../Notations/mixins';
@import '../../Notations/breakpoints';
@import '../../Notations/spaces';

.divider {
  display: block;
  margin: $space-3 0;
  border: 0;
  height: 1px;
  @include selectStyleByTheme('background-color', 'dividerColor');
  @include breakPoint('large') {
      margin: $space-3+$space-2 0;
  }
}