// Black panel
$black-0: #000000;
$black-V0--T10: rgba($black-0, .10);
$black-V0--T25: rgba($black-0, .25);
$black-V0--T50: rgba($black-0, .50);
$black-V0--T75: rgba($black-0, .75);
$black-V0--T90: rgba($black-0, .90);

// White panel
$white-0: #FFFFFF;
$white-10: #F1F1F1;
$white-V0--T75: rgba($white-0, .75);

// Grey panel
$grey-0: #CCCCCC;
$grey-10: #D1D1D1;
$grey-50: #919191;
$grey-60: #7C7C7C;
$grey-100: #333333;
$grey-V0--T2: rgba($grey-0, .2);

// Blue panel
$blue-0: #D2E2EE;
$blue-10: #6BBEFF;
$blue-20: #3A73A0;
$blue-30: #264B68;
$blue-40: #404555;
$blue-50: #282933;
$blue-100: #212228;

// Orange panel
$orange-0: #FF811F;
$orange-10: #EB6700;
