@import '../../Notations/functions';
@import '../../Notations/mixins';
@import '../../Notations/animations';
@import '../../Notations/colors';
@import '../../Notations/fonts';
@import '../../Notations/radius';
@import '../../Notations/shadows';
@import '../../Notations/spaces';

%anchor {
  border: none;
  outline: none;
  font-family: $mulish;
  font-size: inherit;
  color: $blue-10;
  cursor: pointer;
  transition: all $cubicBezier-04;
}

%buttoninheritance {
  min-height: 36px;
  margin: $space-3;
  padding: $space-2;
  font-size: $fs-1;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

.anchor {
  @extend %anchor;

  &-m {
    &--default {
      text-decoration: underline;
    }
    &--button {
      @extend %buttoninheritance;
      border-radius: $radius-1;
    }
    &--round {
      @extend %buttoninheritance;
      width: 60px;
      height: 60px;
      border-radius: $radius-round;
      padding: $space-3;
    }
    &--wrapper {
      width: 100%;
      margin: 0;
      padding: 0;
      text-decoration: none;
    }
  }

  &-s {
    &--raised {
      box-shadow: $depth-5;
      transition: box-shadow $cubicBezier-025, background-color $cubicBezier-025;
    }
    &--pressed {
      box-shadow: $depth-2;
      transition: box-shadow $cubicBezier-025, background-color $cubicBezier-025;
    }
    &--ghost {
      @include selectStyleByTheme('color', 'textColor');
      &:hover, &:focus {
        @include selectStyleByTheme('background-color', 'ghostButtonHover');
      }
  
      svg {
        @include selectStyleByTheme('fill', 'textColor');
      }
    }
  }

  &-c {
    &--blue {
      background-color: $blue-30;
      color: $white-0;

      &:hover, &:focus {
          background-color: $blue-30;
      }

      svg {
          fill: colorOnBackground($blue-30);
      }
    }

    &--orange {
      background-color: $orange-10;
      font-size: $fs-2;
      font-weight: $fw-bold;
      color: colorOnBackground($orange-10);

      &.round-anchor {
        font-size: $fs-1;
      }
  
      &:hover, &:focus {
          background-color: $orange-0;
      }
  
      svg {
          fill: colorOnBackground($orange-10);
      }
    }

    &--white {
      background-color: $white-10;
      font-size: $fs-2;
      color: colorOnBackground($white-0);

      &.round-anchor {
        font-size: $fs-1;
      }
  
      &:hover, &:focus {
          background-color: $white-0;
      }
  
      svg {
          fill: colorOnBackground($white-0);
      }
    }
  }
  &.anchor--icon {
    svg {
      pointer-events: none;
    }
  }

  &--no-margin {
    margin: 0;
  }

  &--align-top {
    margin-top: 0;
  }

  &--align-right {
    margin-right: 0;
  }

  &--align-bottom {
    margin-bottom: 0;
  }

  &--align-left {
    margin-left: 0;
  }
}

