:host {
  --icon-color: currentcolor;
  --icon-size: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  vertical-align: middle;
}

:host svg {
  display: block;
  fill: var(--icon-color);
  width: var(--icon-size);
  height: var(--icon-size);
}

:host svg * {
  fill: inherit;
}
