@import '../../01-instruments/animations';
@import '../../01-instruments/fonts';
@import '../../01-instruments/colors';
@import '../../01-instruments/spaces';
@import '../../01-instruments/breakpoints';

.title-section {
    margin-bottom: $space-3+$space-2;
    border-bottom: 1px solid;
    @include selectStyleByTheme('border-bottom-color', 'dividerColor');
    padding-bottom: $space-3+$space-2;
    text-align: center;
    @include selectStyleByTheme('color', 'titleColor');
}

.subtitle {
    margin-bottom: $space-3+$space-2;
    border-bottom: 1px solid;
    @include selectStyleByTheme('border-bottom-color', 'dividerColor');
    padding-top: 0;
    padding-bottom: $space-2;
    font-size: $fs-6;
    text-align: left;
    @include breakPoint(small) {
        padding-bottom: $space-3+$space-2;
        font-size: $fs-7;
    }
}
