@import '../palette';

$themes: (
  light: (
    bg-main-color: $orange-0,
    bg-small-component-color: $grey-0,
    bg-overlay-component-color: $white-0,
    bg-decoration-color: $black-V0--T25,
    bg-code-color: $blue-0,
    bg-ghost-button-hover-color: $black-V0--T10,
    fg-main-color: $grey-100,
    fg-title-color: $blue-20,
    fg-accent-color: $blue-30,
    fg-link-color: $blue-20,
    fg-emphasis-color: $orange-20,
    fg-subtle-color: $grey-70,
    fg-code-color: $blue-30,
  ),
  dark: (
    bg-main-color: $blue-100,
    bg-small-component-color: $blue-30,
    bg-overlay-component-color: $blue-50,
    bg-decoration-color: $blue-40,
    bg-code-color: $blue-30,
    bg-ghost-button-hover-color: $grey-V0--T2,
    fg-main-color: $white-10,
    fg-title-color: $white-0,
    fg-accent-color: $blue-20,
    fg-link-color: $blue-10,
    fg-emphasis-color: $white-10,
    fg-subtle-color: $grey-50,
    fg-code-color: $white-0,
  )
)