@import '../palette';

:root {
  --bg-main-color: #{$yellow-90};
  --bg-main-color-interacting: #{$yellow-80};
  --bg-neutral-color: #{lighten($yellow-90, 4%)};
  --bg-neutral-color-interacting: #{$yellow-70};
  --bg-accent-color: #{$orange-60};
  --bg-accent-color-interacting: #{$orange-50};
  --bg-action-primary-color: #{$orange-40};
  --bg-action-primary-color-interacting: #{$orange-30};
  --bg-action-secondary-color: #{lighten($yellow-90, 4%)};
  --bg-action-secondary-color-interacting: #{$yellow-80};
  --bg-decoration-color: #{$blue-40};
  --bg-decoration-color-interacting: #{$blue-30};
  --bg-subtle-color: #{$yellow-80};
  --bg-code-color: #{$blue-80};
  --fg-main-color: #{$grey-10};
  --fg-main-color-interacting: #{$grey-20};
  --fg-neutral-color: #{$white-0};
  --fg-neutral-color-interacting: #{$grey-10};
  --fg-accent-color: #{$orange-40};
  --fg-accent-color-interacting: #{$orange-60};
  --fg-action-primary-color: #{$white-0};
  --fg-action-primary-color-interacting: #{$white-0};
  --fg-action-secondary-color: #{$grey-10};
  --fg-action-secondary-color-interacting: #{$grey-10};
  --fg-subtle-color: #{$grey-70};
  --fg-code-color: #{$blue-30};
}

.dark-theme,
[data-theme='dark'] {
  --bg-main-color: #{$grey-10};
  --bg-main-color-interacting: #{$grey-30};
  --bg-neutral-color: #{$grey-20};
  --bg-neutral-color-interacting: #{$grey-40};
  --bg-accent-color: #{$blue-50};
  --bg-accent-color-interacting: #{$blue-60};
  --bg-action-primary-color: #{$blue-30};
  --bg-action-primary-color-interacting: #{$blue-40};
  --bg-action-secondary-color: #{$grey-90};
  --bg-action-secondary-color-interacting: #{$white-0};
  --bg-decoration-color: #{$blue-40};
  --bg-decoration-color-interacting: #{$blue-50};
  --bg-subtle-color: #{$grey-30};
  --bg-code-color: #{$blue-90};
  --fg-main-color: #{$white-0};
  --fg-main-color-interacting: #{$blue-90};
  --fg-neutral-color: #{$blue-10};
  --fg-neutral-color-interacting: #{$blue-30};
  --fg-accent-color: #{$blue-40};
  --fg-accent-color-interacting: #{$blue-60};
  --fg-action-primary-color: #{$white-0};
  --fg-action-primary-color-interacting: #{$white-0};
  --fg-action-secondary-color: #{$grey-10};
  --fg-action-secondary-color-interacting: #{$grey-10};
  --fg-subtle-color: #{$grey-50};
  --fg-code-color: #{$blue-30};
}
