@import '../../Notations/mixins/colors';
@import '../../Notations/fonts';
@import '../../Notations/spaces';

blockquote {
  padding: $space-2 $space-3;
  margin: 0 0 20px;
  font-size: $fs-2;
  border-left-width: 5px;
  border-style: solid;
  @include selectColorByTheme('border-color', 'bg-decoration-color');

  footer {
    padding-top: $space-3;
  }
}
