@import '../colors';
@import '../functions';

.bg--blue-30 {
  background-color: $blue-30;
  & > p {
    color: colorOnBackground($blue-30);
  }
}

.bg--grey-0 {
  background-color: $grey-0;
  & > p {
    color: colorOnBackground($grey-0);
  }
}