@import '../colors';
@import '../functions/colors';
@import '../mixins/breakpoints.scss';

.bg-color {
  @each $color, $value in $colors {
    &--#{$color} {
      background-color: $value;
      & > a, abbr, acronym, address, b, big, caption, center,
      cite, code, del, dfn, dd, dl, dt, em, figcaption,
      i, img, ins, kbd, li, label, legend, mark,
      p, q, s, samp, small, strike, strong, sub, summary,
      sup,  time, tt, var, u {
        color: colorOnBackground($value);
      }
    }
  }
}

.color {
  @each $color, $value in $colors {
    &--#{$color} {
      color: $value;
    }
  }
}

@include breakpoint('medium') {
  .medium_bg {
    @each $color, $value in $colors {
      &--#{$color} {
        background-color: $value;
        & > a, abbr, acronym, address, b, big, caption, center,
        cite, code, del, dfn, dd, dl, dt, em, figcaption,
        i, img, ins, kbd, li, label, legend, mark,
        p, q, s, samp, small, strike, strong, sub, summary,
        sup,  time, tt, var, u {
          color: colorOnBackground($value);
        }
      }
    }
  }
  
  .medium_color {
    @each $color, $value in $colors {
      &--#{$color} {
        color: $value;
      }
    }
  }
}

@include breakpoint('large') {
  .large_bg {
    @each $color, $value in $colors {
      &--#{$color} {
        background-color: $value;
        & > a, abbr, acronym, address, b, big, caption, center,
        cite, code, del, dfn, dd, dl, dt, em, figcaption,
        i, img, ins, kbd, li, label, legend, mark,
        p, q, s, samp, small, strike, strong, sub, summary,
        sup,  time, tt, var, u {
          color: colorOnBackground($value);
        }
      }
    }
  }
  
  .large_color {
    @each $color, $value in $colors {
      &--#{$color} {
        color: $value;
      }
    }
  }
}

@include breakpoint('extra-large') {
  .extra-large_bg {
    @each $color, $value in $colors {
      &--#{$color} {
        background-color: $value;
        & > a, abbr, acronym, address, b, big, caption, center,
        cite, code, del, dfn, dd, dl, dt, em, figcaption,
        i, img, ins, kbd, li, label, legend, mark,
        p, q, s, samp, small, strike, strong, sub, summary,
        sup,  time, tt, var, u {
          color: colorOnBackground($value);
        }
      }
    }
  }
  
  .extra-large_color {
    @each $color, $value in $colors {
      &--#{$color} {
        color: $value;
      }
    }
  }
}
