@import './layout';
@import '../mixins/breakpoints.scss';

.flex { display: flex; }
.inline-flex { display: inline-flex; }

/* 1. Fix for Chrome 44 bug.
 * https://code.google.com/p/chromium/issues/detail?id=506893 */
.flex-auto {
  flex: 1 1 auto;
  min-width: 0; /* 1 */
  min-height: 0; /* 1 */
}

.flex--none { flex: none; }

.flex-direction {
  &--column {
    flex-direction: column;
  }
  &--column-reverse {
    flex-direction: column-reverse;
  }
  &--row {
    flex-direction: row;
  }
  &--row-reverse {
    flex-direction: row-reverse;
  }
}

.flex-flow {
  &--column {
    flex-flow: column;
  }
  &--column-reverse {
    flex-flow: column-reverse;
  }
  &--row {
    flex-flow: row;
  }
  &--row-reverse {
    flex-flow: row-reverse;
  }
  &--wrap {
    flex-flow: wrap;
  }
  &--wrap-reverse {
    flex-flow: wrap-reverse;
  }
  &--nowrap {
    flex-flow: nowrap;
  }
}

.order--0 { order: 0; }
.order--1 { order: 1; }
.order--2 { order: 2; }
.order--3 { order: 3; }
.order--4 { order: 4; }
.order--5 { order: 5; }
.order--6 { order: 6; }
.order--7 { order: 7; }
.order--8 { order: 8; }
.order--last { order: 99999; }

.flex-grow--0 { flex-grow: 0; }
.flex-grow--1 { flex-grow: 1; }

.flex-shrink--0 { flex-shrink: 0; }
.flex-shrink--1 { flex-shrink: 1; }

@include breakPoint('medium') {
  .medium_flex { display: flex; }
  .medium_inline-flex { display: inline-flex; }

  /* 1. Fix for Chrome 44 bug.
  * https://code.google.com/p/chromium/issues/detail?id=506893 */
  .medium_flex-auto {
    flex: 1 1 auto;
    min-width: 0; /* 1 */
    min-height: 0; /* 1 */
  }

  .medium_flex--none { flex: none; }

  .medium_flex-direction {
    &--column {
      flex-direction: column;
    }
    &--column-reverse {
      flex-direction: column-reverse;
    }
    &--row {
      flex-direction: row;
    }
    &--row-reverse {
      flex-direction: row-reverse;
    }
  }

  .medium_flex-flow {
    &--column {
      flex-flow: column;
    }
    &--column-reverse {
      flex-flow: column-reverse;
    }
    &--row {
      flex-flow: row;
    }
    &--row-reverse {
      flex-flow: row-reverse;
    }
    &--wrap {
      flex-flow: wrap;
    }
    &--wrap-reverse {
      flex-flow: wrap-reverse;
    }
    &--nowrap {
      flex-flow: nowrap;
    }
  }

  .medium_order--0 { order: 0; }
  .medium_order--1 { order: 1; }
  .medium_order--2 { order: 2; }
  .medium_order--3 { order: 3; }
  .medium_order--4 { order: 4; }
  .medium_order--5 { order: 5; }
  .medium_order--6 { order: 6; }
  .medium_order--7 { order: 7; }
  .medium_order--8 { order: 8; }
  .medium_order--last { order: 99999; }

  .medium_flex-grow--0 { flex-grow: 0; }
  .medium_flex-grow--1 { flex-grow: 1; }

  .medium_flex-shrink--0 { flex-shrink: 0; }
  .medium_flex-shrink--1 { flex-shrink: 1; }
}

@include breakPoint('large') {
  .large_flex { display: flex; }
  .large_inline-flex { display: inline-flex; }

  /* 1. Fix for Chrome 44 bug.
  * https://code.google.com/p/chromium/issues/detail?id=506893 */
  .large_flex-auto {
    flex: 1 1 auto;
    min-width: 0; /* 1 */
    min-height: 0; /* 1 */
  }

  .large_flex--none { flex: none; }

  .large_flex-direction {
    &--column {
      flex-direction: column;
    }
    &--column-reverse {
      flex-direction: column-reverse;
    }
    &--row {
      flex-direction: row;
    }
    &--row-reverse {
      flex-direction: row-reverse;
    }
  }

  .large_flex-flow {
    &--column {
      flex-flow: column;
    }
    &--column-reverse {
      flex-flow: column-reverse;
    }
    &--row {
      flex-flow: row;
    }
    &--row-reverse {
      flex-flow: row-reverse;
    }
    &--wrap {
      flex-flow: wrap;
    }
    &--wrap-reverse {
      flex-flow: wrap-reverse;
    }
    &--nowrap {
      flex-flow: nowrap;
    }
  }

  .large_order--0 { order: 0; }
  .large_order--1 { order: 1; }
  .large_order--2 { order: 2; }
  .large_order--3 { order: 3; }
  .large_order--4 { order: 4; }
  .large_order--5 { order: 5; }
  .large_order--6 { order: 6; }
  .large_order--7 { order: 7; }
  .large_order--8 { order: 8; }
  .large_order--last { order: 99999; }

  .large_flex-grow--0 { flex-grow: 0; }
  .large_flex-grow--1 { flex-grow: 1; }

  .large_flex-shrink--0 { flex-shrink: 0; }
  .large_flex-shrink--1 { flex-shrink: 1; }
}

@include breakPoint('extra-large') {
  .extra-large_flex { display: flex; }
  .extra-large_inline-flex { display: inline-flex; }

  /* 1. Fix for Chrome 44 bug.
  * https://code.google.com/p/chromium/issues/detail?id=506893 */
  .extra-large_flex-auto {
    flex: 1 1 auto;
    min-width: 0; /* 1 */
    min-height: 0; /* 1 */
  }

  .extra-large_flex--none { flex: none; }

  .extra-large_flex-direction {
    &--column {
      flex-direction: column;
    }
    &--column-reverse {
      flex-direction: column-reverse;
    }
    &--row {
      flex-direction: row;
    }
    &--row-reverse {
      flex-direction: row-reverse;
    }
  }

  .extra-large_flex-flow {
    &--column {
      flex-flow: column;
    }
    &--column-reverse {
      flex-flow: column-reverse;
    }
    &--row {
      flex-flow: row;
    }
    &--row-reverse {
      flex-flow: row-reverse;
    }
    &--wrap {
      flex-flow: wrap;
    }
    &--wrap-reverse {
      flex-flow: wrap-reverse;
    }
    &--nowrap {
      flex-flow: nowrap;
    }
  }

  .extra-large_order--0 { order: 0; }
  .extra-large_order--1 { order: 1; }
  .extra-large_order--2 { order: 2; }
  .extra-large_order--3 { order: 3; }
  .extra-large_order--4 { order: 4; }
  .extra-large_order--5 { order: 5; }
  .extra-large_order--6 { order: 6; }
  .extra-large_order--7 { order: 7; }
  .extra-large_order--8 { order: 8; }
  .extra-large_order--last { order: 99999; }

  .extra-large_flex-grow--0 { flex-grow: 0; }
  .extra-large_flex-grow--1 { flex-grow: 1; }

  .extra-large_flex-shrink--0 { flex-shrink: 0; }
  .extra-large_flex-shrink--1 { flex-shrink: 1; }
}
