@import '../fonts';
@import '../spaces';
@import '../mixins/breakpoints';

// UTILITY CLASSES

//// Font Family

.ff-mulish {
  font-family: $mulish;
}

.ff-openSans {
  font-family: $openSans;
}

//// Font Size

.fs-1 {
  font-size: $fs-1;
}
.fs-2 {
  font-size: $fs-2;
}
.fs-3 {
  font-size: $fs-3;
}
.fs-4 {
  font-size: $fs-4;
}
.fs-5 {
  font-size: $fs-5;
}
.fs-6 {
  font-size: $fs-6;
}
.fs-7 {
  font-size: $fs-7;
}
.fs-8 {
  font-size: $fs-8;
}
.fs-9 {
  font-size: $fs-9;
}
.fs-10 {
  font-size: $fs-10;
}
.fs-11 {
  font-size: $fs-11;
}
.fs-12 {
  font-size: $fs-12;
}
.fs-13 {
  font-size: $fs-13;
}
.fs-14 {
  font-size: $fs-14;
}

//// Font Weight

.fw-regular {
  font-weight: $fw-regular;
}

.fw-medium {
  font-weight: $fw-medium;
}

.fw-bold {
  font-weight: $fw-bold;
}

.fw-extraBold {
  font-weight: $fw-extraBold;
}

.fw-black {
  font-weight: $fw-black;
}

///// Line Height
.lh-space-1 {
  line-height: $space-1;
}

.lh-space-2 {
  line-height: $space-2;
}

.lh-space-3 {
  line-height: $space-3;
}

.lh-space-4 {
  line-height: $space-4;
}

.lh-space-5 {
  line-height: $space-5;
}

.lh-space-6 {
  line-height: $space-6;
}

.lh-space-7 {
  line-height: $space-7;
}

.lh-space-8 {
  line-height: $space-8;
}

.lh-space-9 {
  line-height: $space-9;
}

.lh-space-10 {
  line-height: $space-10;
}

@include breakPoint('medium') {
  //// Font Family

  .medium_ff-mulish {
    font-family: $mulish;
  }

  .medium_ff-openSans {
    font-family: $openSans;
  }

  //// Font Size

  .medium_fs-1 {
    font-size: $fs-1;
  }
  .medium_fs-2 {
    font-size: $fs-2;
  }
  .medium_fs-3 {
    font-size: $fs-3;
  }
  .medium_fs-4 {
    font-size: $fs-4;
  }
  .medium_fs-5 {
    font-size: $fs-5;
  }
  .medium_fs-6 {
    font-size: $fs-6;
  }
  .medium_fs-7 {
    font-size: $fs-7;
  }
  .medium_fs-8 {
    font-size: $fs-8;
  }
  .medium_fs-9 {
    font-size: $fs-9;
  }
  .medium_fs-10 {
    font-size: $fs-10;
  }
  .medium_fs-11 {
    font-size: $fs-11;
  }
  .medium_fs-12 {
    font-size: $fs-12;
  }
  .medium_fs-13 {
    font-size: $fs-13;
  }
  .medium_fs-14 {
    font-size: $fs-14;
  }

  //// Font Weight

  .medium_fw-regular {
    font-weight: $fw-regular;
  }

  .medium_fw-medium {
    font-weight: $fw-medium;
  }

  .medium_fw-bold {
    font-weight: $fw-bold;
  }

  .medium_fw-extraBold {
    font-weight: $fw-extraBold;
  }

  .medium_fw-black {
    font-weight: $fw-black;
  }

  ///// Line Height
  .medium_lh-space-1 {
    line-height: $space-1;
  }

  .medium_lh-space-2 {
    line-height: $space-2;
  }

  .medium_lh-space-3 {
    line-height: $space-3;
  }

  .medium_lh-space-4 {
    line-height: $space-4;
  }

  .medium_lh-space-5 {
    line-height: $space-5;
  }

  .medium_lh-space-6 {
    line-height: $space-6;
  }

  .medium_lh-space-7 {
    line-height: $space-7;
  }

  .medium_lh-space-8 {
    line-height: $space-8;
  }

  .medium_lh-space-9 {
    line-height: $space-9;
  }

  .medium_lh-space-10 {
    line-height: $space-10;
  }
}

@include breakPoint('large') {
  //// Font Family

  .large_ff-mulish {
    font-family: $mulish;
  }

  .large_ff-openSans {
    font-family: $openSans;
  }

  //// Font Size

  .large_fs-1 {
    font-size: $fs-1;
  }
  .large_fs-2 {
    font-size: $fs-2;
  }
  .large_fs-3 {
    font-size: $fs-3;
  }
  .large_fs-4 {
    font-size: $fs-4;
  }
  .large_fs-5 {
    font-size: $fs-5;
  }
  .large_fs-6 {
    font-size: $fs-6;
  }
  .large_fs-7 {
    font-size: $fs-7;
  }
  .large_fs-8 {
    font-size: $fs-8;
  }
  .large_fs-9 {
    font-size: $fs-9;
  }
  .large_fs-10 {
    font-size: $fs-10;
  }
  .large_fs-11 {
    font-size: $fs-11;
  }
  .large_fs-12 {
    font-size: $fs-12;
  }
  .large_fs-13 {
    font-size: $fs-13;
  }
  .large_fs-14 {
    font-size: $fs-14;
  }

  //// Font Weight

  .large_fw-regular {
    font-weight: $fw-regular;
  }

  .large_fw-medium {
    font-weight: $fw-medium;
  }

  .large_fw-bold {
    font-weight: $fw-bold;
  }

  .large_fw-extraBold {
    font-weight: $fw-extraBold;
  }

  .large_fw-black {
    font-weight: $fw-black;
  }

  ///// Line Height
  .large_lh-space-1 {
    line-height: $space-1;
  }

  .large_lh-space-2 {
    line-height: $space-2;
  }

  .large_lh-space-3 {
    line-height: $space-3;
  }

  .large_lh-space-4 {
    line-height: $space-4;
  }

  .large_lh-space-5 {
    line-height: $space-5;
  }

  .large_lh-space-6 {
    line-height: $space-6;
  }

  .large_lh-space-7 {
    line-height: $space-7;
  }

  .large_lh-space-8 {
    line-height: $space-8;
  }

  .large_lh-space-9 {
    line-height: $space-9;
  }

  .large_lh-space-10 {
    line-height: $space-10;
  }
}

@include breakPoint('extra-large') {
  //// Font Family

  .extra-large_ff-mulish {
    font-family: $mulish;
  }

  .extra-large_ff-openSans {
    font-family: $openSans;
  }

  //// Font Size

  .extra-large_fs-1 {
    font-size: $fs-1;
  }
  .extra-large_fs-2 {
    font-size: $fs-2;
  }
  .extra-large_fs-3 {
    font-size: $fs-3;
  }
  .extra-large_fs-4 {
    font-size: $fs-4;
  }
  .extra-large_fs-5 {
    font-size: $fs-5;
  }
  .extra-large_fs-6 {
    font-size: $fs-6;
  }
  .extra-large_fs-7 {
    font-size: $fs-7;
  }
  .extra-large_fs-8 {
    font-size: $fs-8;
  }
  .extra-large_fs-9 {
    font-size: $fs-9;
  }
  .extra-large_fs-10 {
    font-size: $fs-10;
  }
  .extra-large_fs-11 {
    font-size: $fs-11;
  }
  .extra-large_fs-12 {
    font-size: $fs-12;
  }
  .extra-large_fs-13 {
    font-size: $fs-13;
  }
  .extra-large_fs-14 {
    font-size: $fs-14;
  }

  //// Font Weight

  .extra-large_fw-regular {
    font-weight: $fw-regular;
  }

  .extra-large_fw-medium {
    font-weight: $fw-medium;
  }

  .extra-large_fw-bold {
    font-weight: $fw-bold;
  }

  .extra-large_fw-extraBold {
    font-weight: $fw-extraBold;
  }

  .extra-large_fw-black {
    font-weight: $fw-black;
  }

  ///// Line Height
  .extra-large_lh-space-1 {
    line-height: $space-1;
  }

  .extra-large_lh-space-2 {
    line-height: $space-2;
  }

  .extra-large_lh-space-3 {
    line-height: $space-3;
  }

  .extra-large_lh-space-4 {
    line-height: $space-4;
  }

  .extra-large_lh-space-5 {
    line-height: $space-5;
  }

  .extra-large_lh-space-6 {
    line-height: $space-6;
  }

  .extra-large_lh-space-7 {
    line-height: $space-7;
  }

  .extra-large_lh-space-8 {
    line-height: $space-8;
  }

  .extra-large_lh-space-9 {
    line-height: $space-9;
  }

  .extra-large_lh-space-10 {
    line-height: $space-10;
  }
}
