@import './spaces';
@import '../mixins/breakpoints';
@import '../mixins/layout';

/**
* Layout specific styles
* Position and display classes + classes common to grid and flexbox.
**/

.display--block {               display: block; }
.display--flex {                display: flex; }
.display--grid {                display: grid; }
.display--inline {              display: inline; }
.display--inline-block {        display: inline-block; }
.display--inline-flex {         display: inline-flex; }
.display--inline-grid {         display: inline-grid; }
.display--inline-table {        display: inline-table; }
.display--none {                display: none; }
.display--table {               display: table; }
.display--table-cell {          display: table-cell; }
.display--table-row {           display: table-row; }
.display--table-row-group {     display: table-row-group; }
.display--table-column {        display: table-column; }
.display--table-column-group {  display: table-column-group; }

@include generateAlignJustifyClasses();

@include breakPoint('medium') {
  .medium_display--none {              display: none; }
  .medium_display--inline {              display: inline; }
  .medium_display--block {              display: block; }
  .medium_display--inline-block {             display: inline-block; }
  .medium_display--inline-table {             display: inline-table; }
  .medium_display--table {              display: table; }
  .medium_display--table-cell {             display: table-cell; }
  .medium_display--table-row {          display: table-row; }
  .medium_display--table-row-group {    display: table-row-group; }
  .medium_display--table-column {       display: table-column; }
  .medium_display--table-column-group { display: table-column-group; }

  @include generateAlignJustifyClasses($breakpoint: 'medium')
}

@include breakPoint('large') {
  .large_display--none {              display: none; }
  .large_display--inline {              display: inline; }
  .large_display--block {              display: block; }
  .large_display--inline-block {             display: inline-block; }
  .large_display--inline-table {             display: inline-table; }
  .large_display--table {              display: table; }
  .large_display--table-cell {             display: table-cell; }
  .large_display--table-row {          display: table-row; }
  .large_display--table-row-group {    display: table-row-group; }
  .large_display--table-column {       display: table-column; }
  .large_display--table-column-group { display: table-column-group; }

  @include generateAlignJustifyClasses($breakpoint: 'large')
}

@include breakPoint('extra-large') {

  .extra-large_display--none {              display: none; }
  .extra-large_display--inline {              display: inline; }
  .extra-large_display--block {              display: block; }
  .extra-large_display--inline-block {             display: inline-block; }
  .extra-large_display--inline-table {             display: inline-table; }
  .extra-large_display--table {              display: table; }
  .extra-large_display--table-cell {             display: table-cell; }
  .extra-large_display--table-row {          display: table-row; }
  .extra-large_display--table-row-group {    display: table-row-group; }
  .extra-large_display--table-column {       display: table-column; }
  .extra-large_display--table-column-group { display: table-column-group; }

  @include generateAlignJustifyClasses($breakpoint: 'extra-large')
}

// paragraph-flow classes start at `space-3` to avoid text overlapping and end at `space-6` to avoid unreadability with to much space.
.paragraph-flow--space-3 {
  line-height: $space-4;

  & > p + p {
    margin-top: $space-3;
  }
}

.paragraph-flow--space-4 {
  line-height: $space-4;

  & > p + p {
    margin-top: $space-4;
  }
}

.paragraph-flow--space-5 {
  line-height: $space-5;

  & > p + p {
    margin-top: $space-5;
  }
}

.paragraph-flow--space-6 {
  line-height: $space-6;

  & > p + p {
    margin-top: $space-6;
  }
}
