@import '../spaces.scss';

.padding--space-2 {
  padding: $space-2;
}

.padding--space-3 {
  padding: $space-3;
}

.margin-top--space-4 {
  margin-top: $space-4;
}

.margin-bottom--space-5 {
  margin-bottom: $space-5;
}
