@import '../../Notations/mixins/colors';
@import '../../Notations/colors/palette';
@import '../../Notations/fonts';
@import '../../Notations/radius';
@import '../../Notations/spaces';

%text {
  font-family: inherit;
  font-size: inherit;
  letter-spacing: 0.03em;
  line-height: inherit;
  color: var(--fg-main-color);
}

address, abbr, b, bdi, bdo, cite, dfn, em, figcaption, i , kbd, mark, p, q, s, samp, small, span, strong, sub, sup, time, u, ul, var, wbr {
  @extend %text;
}

p {

  .underline, u {
      text-decoration: underline;
  }

  a {
      font-weight: $fw-medium;
  }
}

b, strong {
  font-weight: $fw-bold;
}

i, em, cite {
  font-style: italic;
}

ul {
  margin-top: $space-5;
  margin-bottom: $space-5;
  margin-left: 14px;
  list-style-position: outside;

  & ul {
    margin-top: $space-3;
    margin-bottom: $space-3;
  }

  a {
      font-weight: $fw-medium;
  }
}

.ellipsis {
  overflow: hidden;

  & > * {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

code.ascode {
  border-radius: $radius-1;
  // notation exception to avoid code component to add more space to lines.
  padding:  calc($space-1 / 2) $space-1;
  background-color: $blue-10;
  color: $blue-30;
  text-transform: none;
  background-color: var(--bg-code-color);
  color: var(--fg-code-color);
}

.text-align {
  &--center {
    text-align: center;
  }

  &--end {
    text-align: end;
  }

  &--justify {
    text-align: justify;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--start {
    text-align: start;
  }

  &--inherit {
    text-align: inherit;
  }
}
