@mixin generateRadiusClasses($radiuses, $radiusesDirections, $breakpoint: 'none') {
  $breakpointName: if($breakpoint != 'none', '#{$breakpoint}_', '');

  @each $dirValue in $radiusesDirections {
    @each $radiusKey, $radiusValue in $radiuses {
      @if $dirValue == 'all'  {
        .#{$breakpointName}radius-#{$radiusKey} {
          border-radius: $radiusValue;
        }
      }
  
      @else if $dirValue == 'top' {
        .#{$breakpointName}radius-#{$dirValue}-#{$radiusKey} {
          border-top-left-radius: $radiusValue;
          border-top-right-radius: $radiusValue;
        }
      }
  
      @else if $dirValue == 'bottom' {
        .#{$breakpointName}radius-#{$dirValue}-#{$radiusKey} {
          border-bottom-left-radius: $radiusValue;
          border-bottom-right-radius: $radiusValue;
        }
      }
  
      @else {
        .#{$breakpointName}radius-#{$dirValue}-#{$radiusKey} {
          border-#{$dirValue}-radius: $radiusValue;
        }
      }
    }
  }
  
  .#{$breakpointName}radius-round {
    border-radius: $radius-round;
  }
}