@import '../../Notations/animations';
@import '../../Notations/colors/palette';
@import '../../Notations/fonts';
@import '../../Notations/radius';
@import '../../Notations/spaces';

$switchHeight: 26px;

.switch {
  &__button {
    margin: 0;
    overflow: hidden;
    border: none;
    border-radius: 50px;
    padding: 0;
    cursor: pointer;
    
    span {
      pointer-events: none;
    }
  }
  &__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 50px;
  height: $switchHeight;
  border-radius: $switchHeight;
  position: relative;
  transition: background-color $cubicBezier-025;
  font-size: 0;

    &.option-false {
      background-color: $grey-50;
    }

    &.option-true {

      .switch__switcher {
        left: calc(100% - 2px);
        transform: translateX(-100%);
      }
    }
  }

  &-on {
    &--white {
      .option-true {
        background-color: $white-10;
      }
    }

    &--grey {
      .option-true {
        background-color: $grey-10;
      }
    }

    &--blue {
      .option-true {
        background-color: $blue-10;
      }
    }

    &--orange {
      .option-true {
        background-color: $orange-40;
      }
    }
  }

  &-off {
    &--black {
      .option-false {
        background-color: $black-0;
      }
    }

    &--grey {
      .option-false {
        background-color: $grey-50;
      }
    }

    &--blue {
      .option-false {
        background-color: $blue-50;
      }
    }
  }
}

.switch__label .switch__switcher {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transition: $cubicBezier-025;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.switch__label:active .switch__switcher {
  width: 26px;
}
