// Black panel
$black-0: rgb(0, 0, 0);
$black-V0--T10: rgba($black-0, .10);
$black-V0--T25: rgba($black-0, .25);
$black-V0--T50: rgba($black-0, .50);
$black-V0--T75: rgba($black-0, .75);
$black-V0--T90: rgba($black-0, .90);

// White panel
$white-0: rgb(255, 255, 255);
$white-10: rgb(241, 241, 241);
$white-V0--T75: rgba($white-0, .75);

// Grey panel
$grey-0: rgb(209, 209, 209,);
$grey-10: rgb(204, 204, 204);
$grey-50: rgb(145, 145, 145);
$grey-60: rgb(124, 124, 124);
$grey-70: rgb(110, 110, 110);
$grey-100: rgb(51, 51, 51);
$grey-V0--T2: rgba($grey-0, .2);

// Blue panel
$blue-0: rgb(210, 226, 238);
$blue-10: rgb(107, 190, 255);
$blue-20: rgb(58, 115, 160);
$blue-30: rgb(38, 75, 104);
$blue-40: rgb(64, 69, 85);
$blue-50: rgb(40, 41, 51);
$blue-100: rgb(33, 34, 40);

// Orange panel
$orange-0: rgb(255, 129, 31);
$orange-10: rgb(235, 103, 0);

$colors: (
  'black-0': $black-0,
  'black-V0--T10': $black-V0--T10,
  'black-V0--T25': $black-V0--T25,
  'black-V0--T50': $black-V0--T50,
  'black-V0--T75': $black-V0--T75,
  'black-V0--T90': $black-V0--T90,
  'white-0': $white-0,
  'white-10': $white-10,
  'white-V0--T75': $white-V0--T75,
  'grey-0': $grey-0,
  'grey-10': $grey-10,
  'grey-50': $grey-50,
  'grey-60':$grey-60,
  'grey-70':$grey-70,
  'grey-100': $grey-100,
  'grey-V0--T2': $grey-V0--T2,
  'blue-0': $blue-0,
  'blue-10': $blue-10,
  'blue-20': $blue-20,
  'blue-30': $blue-30,
  'blue-40': $blue-40,
  'blue-50': $blue-50,
  'blue-100': $blue-100,
  'orange-0': $orange-0,
  'orange-10': $orange-10,
);
