//_____________________ BREAKPOINTS_______________________

// Small screen
$break-small: 'min-width:767px';
// Medium screen
$break-medium: 'min-width:1140px';
// large screen
$break-large: 'min-width:1600px';
