// order is important to let some files to use the previous ones
// Notations
@import './mixins';
@import './utility-classes/';
@import './animations';
@import './breakpoints';
@import './colors';
@import './flexbox';
@import './fonts';
@import './functions/';
@import './grid';
@import './shadows';
@import './spaces';
@import './radius';
// Staves
@import '../Staves/Anchor/anchor';
@import '../Staves/Badge/badge';
@import '../Staves/Box/box';
@import '../Staves/Button/button';
@import '../Staves/Card/card';
@import '../Staves/Divider/divider';
@import '../Staves/Icon/icon';
@import '../Staves/Picture/picture';
@import '../Staves/Stack/stack';
@import '../Staves/Sticker/sticker';
@import '../Staves/Switch/switch';
@import '../Staves/Text/text';
@import '../Staves/Title/title';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  @include selectColorByTheme('background', 'primaryBgColor');
  @include selectColorByTheme('color', 'primaryColor');
}

figure p {
  margin-top: 0;
  padding-top: 0;
}
