/**
* Layout specific styles
**/

.align-items {
  &--baseline {
    align-items: baseline;
  }

  &--center {
    align-items: center;
  }

  &--start {
    align-items: flex-start;
  }

  &--end {
    align-items: flex-start;
  }

  &--stretch {
    align-items: stretch;
  }
}

.align-content {
  &--baseline {
    align-content: baseline;
  }

  &--center {
    align-content: center;
  }

  &--start {
    align-content: flex-start;
  }

  &--end {
    align-content: flex-start;
  }

  &--stretch {
    align-content: stretch;
  }
}

.align-self {
  &--baseline {
    align-self: baseline;
  }

  &--center {
    align-self: center;
  }

  &--start {
    align-self: flex-start;
  }

  &--end {
    align-self: flex-start;
  }

  &--stretch {
    align-self: stretch;
  }
}

.justify-content {
  &--baseline {
    justify-content: baseline;
  }

  &--center {
    justify-content: center;
  }

  &--start {
    justify-content: flex-start;
  }

  &--end {
    justify-content: flex-start;
  }

  &--stretch {
    justify-content: stretch;
  }

  &--space-around {
    justify-content: space-around;
  }

  &--space-between {
    justify-content: space-between;
  }

  &--space-evenly {
    justify-content: space-evenly;
  }
}

.justify-self {
  &--baseline {
    justify-self: baseline;
  }

  &--center {
    justify-self: center;
  }

  &--start {
    justify-self: flex-start;
  }

  &--end {
    justify-self: flex-start;
  }

  &--stretch {
    justify-self: stretch;
  }

  &--space-around {
    justify-self: space-around;
  }

  &--space-between {
    justify-self: space-between;
  }

  &--space-evenly {
    justify-self: space-evenly;
  }
}

.paragraph-flow > * + * {
  margin-top: $space-5;
}
