@import './color-palette';

// FONT FACE
@mixin font-face($fontFamily, $fontWeight, $FileURL) {
    font-family: $fontFamily;
    font-weight: $fontWeight;
    src: url('#{$FileURL}.eot')  format('eot'),
        url('#{$FileURL}.woff') format('woff'),
        url('#{$FileURL}.ttf')  format('truetype'),
        url('#{$FileURL}.svg') format('svg');
}

@mixin selectStyleByTheme($key, $color) {
    @each $theme-name, $theme-color in $themes {
        .#{$theme-name} & {
            #{$key}: map-get(map-get($themes, $theme-name), $color)
        }
    }
}
