// The Height of a component can also be used to define the radius of the element.
// This will create a rounded sides but will keep the width flat.
// e.g: the Switch component

$radius-1: 4px;
$radius-2: 8px;
$radius-3: 16px;
$radius-4: 24px;
$radius-5: 32px;
$radius-round: 50%;
