$space-1: 4px;
$space-2: 8px;
$space-3: 16px;
$space-4: 24px;
$space-5: 32px;
$space-6: 40px;
$space-7: 48px;
$space-8: 56px;
$space-9: 64px;
$space-10: 72px;

$valueBetweenSpaces: 8px;
$startingSpace: 8px; // dedidacted to loops: the first space (4px) cannot be part of a loop
$spacesAmount: 10;

$spaces: (
  'space-1': $space-1,
  'space-2': $space-2,
  'space-3': $space-3,
  'space-4': $space-4,
  'space-5': $space-5,
  'space-6': $space-6,
  'space-7': $space-7,
  'space-8': $space-8,
  'space-9': $space-9,
  'space-10': $space-10,
);
$spacesTypes: ('margin', 'padding');
$spacesDirections: (
  'left',
  'right',
  'top',
  'bottom',
  'all',
  'y',
  'x'
);
