@import '../../01-instruments/fonts';
@import '../../01-instruments/colors';
@import '../../01-instruments/breakpoints';

.badge {
    display: inline-block;
    vertical-align: top;
    width: 100px;

    &__legend {
        margin-top: 0;
        font-size: $fs-1;
        text-align: center;
    }
}