// Instruments
@import './functions';
@import './mixins';
@import './animations';
@import './fonts';
@import './spaces';
@import './radius';
@import './colors';
@import './breakpoints';
@import './grid';
@import './shadows';
// Symbols
@import '../02-symbols/anchors/anchor';
@import '../02-symbols/buttons/button';
@import '../02-symbols/dividers/divider';
@import '../02-symbols/icons/icons';
@import '../02-symbols/images/image';
@import '../02-symbols/stickers/sticker';
@import '../02-symbols/switches/switch';
@import '../02-symbols/titles/titles';
// Scores
@import '../03-scores/badges/badge';
// @import '../03-scores/button-with-caption/button-with-caption';
@import '../03-scores/cards/card';
@import '../03-scores/code-blocks/code-block';
@import '../03-scores/footer/footer';
@import '../03-scores/navigation/navigation';
@import '../03-scores/notifications/notification';
// Masterpieces
@import '../../pages/portfolio/details-page';
@import '../04-masterpieces/layout/layout';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: $mulish;
  font-size: $fs-2;
  font-weight: $fw-regular;
  word-break: break-word;
  @include selectStyleByTheme('background', 'primaryBgColor');
  @include selectStyleByTheme('color', 'primaryColor');
}
%titles {
  margin: 0;
  @include selectStyleByTheme('color', 'titleColor');
}

h1 {
  padding: $space-4 + $space-3 0;
  font-size: $fs-14;
  font-weight: $fw-bold;
  @extend %titles;
}

h2 {
  padding: $space-4 0;
  font-size: $fs-7;
  text-transform: uppercase;
  font-weight: $fw-extraBold;
  @extend %titles;
}

h3 {
  padding: $space-3+$space-2 0;
  font-size: $fs-6;
  font-weight: $fw-extraBold;
  @extend %titles;
}

h4 {
  padding: $space-3 0;
  font-size: $fs-4;
  font-weight: $fw-extraBold;
  @extend %titles;
}

h5 {
  font-size: $fs-2;
  font-weight: $fw-extraBold;
  @extend %titles;
}

h6 {
  font-size: $fs-1;
  font-weight: $fw-extraBold;
  @extend %titles;
}

%text {
  font-size: $fs-2;
  line-height: $space-3+$space-2;
}

p {
  @extend %text;
  margin: $space-3 0;

  .underline {
      text-decoration: underline;
  }

  a {
      font-weight: $fw-medium;
  }
}

b {
  @extend %text;
  font-weight: $fw-bold;
}

i {
  @extend %text;
  font-weight: italic;
  font-weight: $fw-regular;
}

a:not([class]) {
  outline: none;
  text-decoration: underline;
  @include selectStyleByTheme('color', 'linkColor');

  i {
      font-family: $fontDefault;
  }
}

ul {
  margin-top: $space-3;
  margin-bottom: $space-3;
  margin-left: 14px;
  list-style-position: outside;
  line-height: $space-4;

  a {
      font-weight: $fw-medium;
  }
}

%images {
  max-width: 100%;
  height: auto;
}

img {
  @extend %images;
}

.image-container {
  @include grid($gridTemplateRows: 50% auto);
  position: relative;
  width: 100%;

  &__image {
      z-index: 1;
      min-width: 120px;
      min-height: 120px;
  }
}

figure p {
  margin-top: 0;
  padding-top: 0;
}

figcaption, .legend {
  margin-bottom: ($space-3+$space-2)+$space-3;
  padding: $space-3;
  text-align: center;
}

blockquote {
  padding: $space-2 $space-3;
  margin: 0 0 20px;
  font-size: $fs-2;
  border-left: 5px solid $grey-0;

  footer {
      text-align: right;
  }
}

.float {
  margin-top: $space-3;
  margin-bottom: $space-3;

  &.left {
      float: left;
      &--30 {
          width: 100%;

          @include breakPoint('small') {
              width: 30%;
              margin-right: $space-5;
          }
      }
  }

  &.right {
      float: right;

  }

  figcaption {
      margin-bottom: $space-3;
  }
}

.CookieConsent {
  position: fixed;
  @include grid($gridAutoFlow: row, $alignItems: center, $justifyContent: center);
  overflow: hidden;
  border-top-left-radius: $radius-4;
  width: 100%;
  bottom: 0;
  right: 0;
  box-shadow: $depth-2--reversed;

  @include breakPoint('small') {
      @include grid($gridAutoFlow: column, $alignItems: center);
      width: unset;
  }

  a {
      color: $white-0;
  }

  button {
      margin-top: 0;
      margin-left: $space-2;

      @include breakPoint('small') {
          margin-top: $space-2;
          margin-bottom: $space-2;
          margin-left: $space-2;
      }
  }
}

.banner {
  font-size: $fs-1;
  font-weight: $fw-regular;

  &--blue {
      background-color: $blue-30;
  }
}

.status--pending {
  border-radius: $radius-1;
  padding: $space-1 $space-2;
  background-color: $orange-10;
  color: colorOnBackground($orange-10);
  font-size: $fs-3;
  font-weight: $fw-bold;
  line-height: $space-3+$space-2;
}

.justifyself-end {
  justify-self: end;
}
