@import '../../Notations/spaces';

.stack {
  &--column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &.column--space-1 {
      gap: $space-1;
    }
    
    &.column--space-2 {
      gap: $space-2;
    }

    &.column--space-3 {
      gap: $space-3;
    }

    &.column--space-4 {
      gap: $space-4;
    }

    &.column--space-5 {
      gap: $space-5;
    }
  }
  &--row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &.row--space-1 {
      gap: $space-1;
    }
    
    &.row--space-2 {
      gap: $space-2;
    }

    &.row--space-3 {
      gap: $space-3;
    }

    &.row--space-4 {
      gap: $space-4;
    }

    &.row--space-5 {
      gap: $space-5;
    }
  }

  &-wrap {
    &-column {
      &--nowrap {
        flex-wrap: nowrap;
      }
      &--wrap {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 12px;
      }
    }
    &-row {
      &--nowrap {
        flex-wrap: nowrap;
      }
      &--wrap {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 12px;
      }
    }
  }
}