@import '../src/Notations';
@import '../src/Notations/utility-classes';
@import '../src/Notations/mixins';

body {
  font-family: $openSans;
}

.sb-unstyled {
  @extend .paragraph-flow--space-5;
}

.color-card {
  border-radius: $space-2;
  box-shadow: $depth-1;
  overflow: hidden;
  font-size: $fs-1;
  @include selectColorByTheme('background', 'bg-overlay-component-color');

  &__text {
    padding: $space-2;
  }
}

ul:not([class]) {
  margin: $space-5;
  list-style: disc;
}

@include generateGridColumnsClasses(12);
@include generateGridRowsClasses(12);
@include generateGridGapClasses($gapTypes, $spaces);

@include breakpoint('medium') {
  @include generateGridColumnsClasses(12, $breakpoint: 'medium');
  @include generateGridRowsClasses(12 , $breakpoint: 'medium');
  @include generateGridGapClasses($gapTypes, $spaces, $breakpoint: 'medium');
}

@include breakpoint('large') {
  @include generateGridColumnsClasses(12, $breakpoint: 'large');
  @include generateGridRowsClasses(12 , $breakpoint: 'large');
  @include generateGridGapClasses($gapTypes, $spaces, $breakpoint: 'large');
}

@include breakpoint('extra-large') {
  @include generateGridColumnsClasses(12, $breakpoint: 'extra-large');
  @include generateGridRowsClasses(12 , $breakpoint: 'extra-large');
  @include generateGridGapClasses($gapTypes, $spaces, $breakpoint: 'extra-large');
}
