@import '../src/Notations';
@import '../src/Notations/utility-classes';
@import '../src/Notations/mixins';

body {
  font-family: $openSans;
}

.sb-unstyled {
  @extend .paragraph-flow--space-5;
}

.transparent-color {
  display: inline-block;
  height: 72px;
  width: 100%;
  overflow: 'hidden';
  @include selectColorByTheme('border-bottom', 'fg-subtle-color');
  background-image: linear-gradient(45deg, #b0b0b0 25%, transparent 25%), linear-gradient(-45deg, #b0b0b0 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #b0b0b0 75%), linear-gradient(-45deg, transparent 75%, #b0b0b0 75%);
  background-size: 24px 24px;
  background-position: 0 0, 0 12px, 12px -12px, -12px 0px;
}

.color-card {
  border-radius: $space-2;
  box-shadow: $depth-1;
  overflow: hidden;
  font-size: $fs-1;
  @include selectColorByTheme('background', 'bg-overlay-component-color');

  &__text {
    padding: $space-2;
  }
}

ul:not([class]) {
  margin: $space-5;
  list-style: disc;
}

@include generateGridColumnsClasses(12);
@include generateGridRowsClasses(12);
@include generateGridGapClasses($gapTypes, $spaces);

@include breakpoint('medium') {
  @include generateGridColumnsClasses(12, $breakpoint: 'medium');
  @include generateGridRowsClasses(12 , $breakpoint: 'medium');
  @include generateGridGapClasses($gapTypes, $spaces, $breakpoint: 'medium');
}

@include breakpoint('large') {
  @include generateGridColumnsClasses(12, $breakpoint: 'large');
  @include generateGridRowsClasses(12 , $breakpoint: 'large');
  @include generateGridGapClasses($gapTypes, $spaces, $breakpoint: 'large');
}

@include breakpoint('extra-large') {
  @include generateGridColumnsClasses(12, $breakpoint: 'extra-large');
  @include generateGridRowsClasses(12 , $breakpoint: 'extra-large');
  @include generateGridGapClasses($gapTypes, $spaces, $breakpoint: 'extra-large');
}
