@import '../../01-instruments/fonts';
@import '../../01-instruments/colors';

.button-caption {
    text-align: center;

    p {
        font-size: $fs-1;
        font-weight: $fw-bold;
        color: $black-V0--T50;
    }
}
