@import '../../Notations/';

.icon {
  &-c {
    &--black {
      fill: $black-0;
    }
    &--white {
      fill: $white-0;
    }
    &--grey {
      fill: $grey-100;
    }
    &--blue {
      fill: $blue-30;
    }
    &--orange {
      fill: $orange-10;
    }
    &--textColor {
      @include selectStyleByTheme('fill', 'textColor')
    }
  }
}
