@import '../../01-instruments/spaces';
@import '../../01-instruments/grid';
@import '../../01-instruments/shadows';
@import '../../01-instruments/animations';

img {
    max-width: 100%;
    height: auto;
}

.work-page {
    img {
        margin: $space-3+$space-2 0;
        box-shadow: $depth-1;
        transition: box-shadow $cubicBezier-04;

        &.featured-image {
            margin: 0;
        }
    }

    figure img {
        margin-bottom: 0;
    }
}