@import '../../Notations/functions/colors';
@import '../../Notations/mixins/colors';
@import '../../Notations/animations';
@import '../../Notations/colors';
@import '../../Notations/fonts';
@import '../../Notations/radius';
@import '../../Notations/shadows';
@import '../../Notations/spaces';

%anchor {
  border: none;
  outline: none;
  font-family: $mulish;
  font-size: inherit;
  color: $blue-10;
  cursor: pointer;
  transition: all $cubicBezier-04;
}

%buttoninheritance {
  display: inline-block;
  min-height: 36px;
  padding: $space-2;
  font-size: $fs-1;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

.anchor {
  @extend %anchor;

  &-m {
    &--default {
      text-decoration: underline;
      @include selectColorByTheme('color', 'linkColor');
    }
    &--button {
      @extend %buttoninheritance;
      border-radius: $radius-1;
    }
    &--round {
      @extend %buttoninheritance;
      width: 60px;
      height: 60px;
      border-radius: $radius-round;
      padding: $space-3;
    }
    &--wrapper {
      width: 100%;
      margin: 0;
      padding: 0;
      text-decoration: none;
    }
  }

  &-s {
    &--raised {
      box-shadow: $depth-5;
      transition: box-shadow $cubicBezier-025, background-color $cubicBezier-025;
    }
    &--pressed {
      box-shadow: $depth-2;
      transition: box-shadow $cubicBezier-025, background-color $cubicBezier-025;
    }
    &--ghost {
      @include selectColorByTheme('color', 'textColor');
      &:hover, &:focus {
        @include selectColorByTheme('background-color', 'ghostButtonHover');
      }
  
      svg {
        @include selectColorByTheme('fill', 'textColor');
      }

    }
  }

  &-c {
    &--blue {
      background-color: $blue-30;
      color: colorOnBackground($blue-30);

      &:hover, &:focus {
          background-color: $blue-20;
      }

      span {
        color: colorOnBackground($blue-30);
      }

      svg {
          fill: colorOnBackground($blue-30);
      }
    }

    &--orange {
      background-color: $orange-10;
      font-size: $fs-2;
      font-weight: $fw-bold;

      &.round-anchor {
        font-size: $fs-1;
      }
  
      &:hover, &:focus {
          background-color: $orange-0;
      }

      span {
        color: colorOnBackground($orange-10);
      }
  
      svg {
          fill: colorOnBackground($orange-10);
      }
    }

    &--white {
      background-color: $white-10;
      font-size: $fs-2;

      &.round-anchor {
        font-size: $fs-1;
      }
  
      &:hover, &:focus {
          background-color: $white-0;
      }

      span {
        color: colorOnBackground($white-10);
      }
  
      svg {
          fill: colorOnBackground($white-0);
      }
    }
  }
  &.anchor--icon {
    display: inline-flex;
    align-items: center;
    svg {
      pointer-events: none;
    }

    &.anchor-m--button {
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  svg + span {
    margin-left: $space-2;
  }

  &--no-margin {
    margin: 0;
  }

  &--align-top {
    margin-top: 0;
  }

  &--align-right {
    margin-right: 0;
  }

  &--align-bottom {
    margin-bottom: 0;
  }

  &--align-left {
    margin-left: 0;
  }
}

a:not([class]) {
  outline: none;
  text-decoration: underline;
  @include selectColorByTheme('color', 'linkColor');

  i {
      font-family: $openSans;
  }
}
