@import '../../Notations/colors/palette';
@import '../../Notations/mixins/colors';

.icon {
  &-c {
    &--black {
      fill: $black-0;
    }
    &--white {
      fill: $white-0;
    }
    &--grey {
      fill: $grey-10;
    }
    &--blue {
      fill: $blue-30;
    }
    &--orange {
      fill: $orange-40;
    }
    &--fgColor {
      fill: var(--fg-main-color);
    }
  }
}
