@import '../../Notations/colors/palette';
@import '../../Notations/functions/colors';
@import '../../Notations/fonts';
@import '../../Notations/radius';
@import '../../Notations/shadows';
@import '../../Notations/spaces';

.sticker {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: $radius-round;
  box-shadow: $depth-1;
  text-align: center;
  line-height: 0;

  // model modifiers
  &-m {
    &--default {
      width: 100px;
      height: 100px;
      padding: $space-3 + $space-2;

      & > * {
        width: 50px;
        height: 50px;
      }
    }

    &--mini {
      width: 45px;
      min-width: 0;
      height: 45px;
      text-align: center;

      & > * {
        width: 30px;
        height: 30px;
      }

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  // color modifiers
  &-c {
    &--white {
      background: $white-0;

      svg {
        fill: $grey-40;
      }
    }

    &--grey {
      background: $grey-80;

      svg {
        fill: $grey-40;
      }
    }

    &--inverted-grey {
      background: $grey-40;
      color: $grey-90;

      svg {
        fill: $grey-90;
      }
    }

    &--blue {
      background: $blue-30;
      color: $white-0;

      svg {
        fill: $white-0;
      }
    }

    &--orange {
      background: $orange-40;
      color: $white-0;
      font-weight: $fw-bold;

      svg {
        fill: $white-0;
      }
    }
  }

  & > * {
    display: flex;
    position: relative;
    max-width: 50px;
    max-height: 50px;
    justify-content: center;
    align-items: center;
  }
  
  & span {
    display: inline;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: $grey-10;
    line-height: 1em;
  }
}
