@import '../../01-instruments/colors';
@import '../../01-instruments/fonts';
@import '../../01-instruments/spaces';
@import '../../01-instruments/radius';
@import '../../01-instruments/functions';
@import '../../01-instruments/shadows';

.sticker {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: $radius-round;
  box-shadow: $depth-1;

  &.has-img {
    position: relative;

  }

  svg {
    fill: $black-V0--T50;
  }

  span {
    overflow: hidden;
    white-space: nowrap;
    font-size: $fs-2;
    text-align: center;
    text-overflow: ellipsis;
  }

  &-content {
    position: relative;
    max-width: 50px;
    max-height: 50px;
  }

  // model modifiers
  &-m {
    &--default {
      width: 100px;
      height: 100px;
      padding: $space-3+$space-2;

      &>* {
        width: 50px;
        height: 50px;
      }
    }

    &--mini {
      width: 45px;
      min-width: 0;
      height: 45px;
      text-align: center;

      &>* {
        width: 30px;
        height: 30px;
      }

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  // color modifiers
  &-c {
    &--white {
      background: $white-0;
      color: colorOnBackground($white-0);
    }

    &--blue-grey {
      background: $blue-40;
      color: colorOnBackground($blue-50);

      .has-background {
        height: 100%;
        border-radius: $radius-2;
        background-color: $grey-50;
      }

      svg {
        fill: $grey-0;
      }
    }

    &--blue {
      background: $blue-30;
      color: colorOnBackground($blue-30);

      svg {
        fill: colorOnBackground($blue-30);
      }
    }

    &--orange {
      background: $orange-10;
      color: colorOnBackground($orange-10);
      font-weight: $fw-bold;

      svg {
        fill: colorOnBackground($orange-10);
      }
    }
  }
}