@import '../instruments/';

.card {
  position: relative;
  overflow: hidden;
  border-radius: $radius-4;
  box-shadow: $depth-1;
  @include selectStyleByTheme('background-color', 'cardBgColor');

  & > .anchor p {
    text-decoration: none;
  }

  &-m {
    &--w-padding {
        margin: $space-3 0;
        padding: $space-3+$space-2;
    }
    &--w-content-top {
      margin-top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    &--w-content-bottom {
      margin-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}